<ion-header>
  <ion-toolbar color="primary">
    <ion-title (click)="closeModal()">Continue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="lh">
    <h4 class="heading">What to do next?</h4>
    <p>You will be notified once the Service Provider(s) bid on your moving project.  Moving project details and bids can be viewed through the <b>WORK ORDER</b> tab.  After you accept a Bid, payment can be complete through the same portal.</p>
    <p>The <b>MESSAGE SERVICE PROVIDER</b> chat interface can be utilized to create an open dialogue between you and the Service Providers.  Service Providers may ask questions specific through your project.</p>
    <p>Questions?  Click to <a (click)="conatctHaul();">Contact HAUL</a></p>
  </ion-grid>
</ion-content>
