<ion-header>
  <ion-toolbar color="tertiary">
    <ion-icon name="arrow-back" (click)="back()" style="font-size: 20px; margin-left: 10px;" slot="start"></ion-icon>
    <ion-title>Archived Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showArc==true">
    <ion-fab-button color="tertiary" (click)="submitUnArc()">
      Archive
    </ion-fab-button>
  </ion-fab>

  <a  (click)="enableArchive();" class="arch">Unarchive Orders</a>

<ion-grid class="grid-center">

    <ion-row class="head-row" color="tertiary">
      <ion-col>
        <strong>Date Created</strong>
      </ion-col>
      <ion-col>
        <strong>Type</strong>
      </ion-col>
      <ion-col>
        <strong>Status</strong>
      </ion-col>
      <ion-col>
        <strong>$</strong>
      </ion-col>
      <ion-col>
        <strong>Order</strong>
      </ion-col>

    </ion-row>
<div *ngIf="orderList.length > 0">
  <ion-row *ngFor="let order of orderList; let i = index;">
    <ion-col>
      {{order.date_created}}

      <ion-checkbox (ionChange)="addArc(order.id, $event)" *ngIf="showArc==true"></ion-checkbox>
    </ion-col>
    <ion-col (click)="viewOrder(order)">
      {{order.product_type_show}}
    </ion-col>
    <ion-col (click)="viewOrder(order)">
      {{order.status_show}}
    </ion-col>
    
    <ion-col (click)="viewOrder(order)">
      <span><strong>Price:</strong><br>${{order.price}}</span>
      <br><br>
      <span *ngIf="order.product_type!='Pick Up & Delivery' &&order.bid_amount && order.bid_amount!='0' && order.status_show!='Pending Payment' && order.status_show!='Payment Complete' && order.status_show!='Completed' && order.status_show!='Rejected'"><strong>Bid Price: </strong><br>${{order.bid_amount}}</span>
    </ion-col>

    <ion-col>
      {{order.id}}
    </ion-col>

  </ion-row>

</div>
    
    <ion-row class="nodata" *ngIf="orderList.length === 0">
      <ion-col>No archived order found</ion-col>
    </ion-row> 

  </ion-grid>

</ion-content>

