<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" (click)="back()" style="font-size: 20px; margin-left: 10px;" slot="start"></ion-icon>
    <ion-title>Item Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-examples-content login-bg">
  <h1>{{pagetitle}}</h1>

    <form class="sample-form post-form" [formGroup]="video_form" (ngSubmit)="mediaData()">

        <section class="form-section">
         <ion-grid>
           <ion-row>
             <ion-col size="12">
              <p><strong>Move Description:</strong> </p>
              <p>To ensure a comprehensive and accurate bid, please provide a  descriptive message about the items requiring waste disposal.  Include the area such as: House Interior, Outside Patio Set, Garage, Shed, etc.   Add Estimated Weight & Size.  Include if the item will require demolition (shed) or is ready to pick up and take. </p>
              <p>Consider including the following descriptive phrases</p>
              <ul class="lft-pad">
                <li>Construction debris such as wood, drywall, concrete, etc.</li>
                <li>Yard clippings,</li>
                <li>Major appliance,</li>
                <li>Bulky furniture, mattress, etc</li>
                <li>Tires</li>
                <li>Concrete removed from patio, walk, driveway, wall, etc.</li>
                <li>Gas Powered?</li>
              </ul>
                <ion-textarea formControlName="description" placeholder="Type description here..." class="upload_video"></ion-textarea>
             </ion-col>
           </ion-row>

           <ion-row>
              <ion-col size="12">
                <strong>Add a Video / Pictures:</strong>
                <p>Upload a video/picture of your moving project. Be sure to capture everything you plan to have moved. A picture is worth a 1,000 words!</p>
                <ion-button color="dark" expand="full" class="upload_video" (click)="selectType()">Upload</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" *ngFor="let fn of filenames; let id = index">
                <ion-card class="block e-img-card">
                  <span>{{fn}}  <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon></span>
                </ion-card>
              </ion-col>
            </ion-row>

         </ion-grid>

         <ion-input type="hidden" formControlName="mediapath" [(ngModel)]="mediaURI"></ion-input> 
       </section>

      <section class="form-section">
        <!-- <div  class="form-action-button create-post-button">Submit Request</div> -->
        <ion-button  expand="block" color="dark" type="submit" [disabled]="!du">Submit Request</ion-button>
      </section>
    <p>&nbsp;</p>
    </form>
    <p>&nbsp;</p>
</ion-content>
