<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" (click)="back()" style="font-size: 20px; margin-left: 10px;" slot="start"></ion-icon>
    <ion-title>Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="forgot-password-content auth-content">
  <h2 class="auth-title">Recover Your Password</h2>
  
  <form class="forgot-password-form auth-form" [formGroup]="forgot_password" (ngSubmit)="recoverPassword()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <p class="recover-message">
      {{error_message}}
    </p>
    <p class="recover-message-success" [innerHTML]="success_message">
      <!-- {{success_message}} -->
    </p>

    <ion-button  expand="block" class="auth-action-button recover-password-button" type="submit" [disabled]="!forgot_password.valid">Reset password</ion-button>
  </form>

</ion-content>