.forgot-password-content
	{
        padding: 5px;
		.recover-message
		{
			color: red;
			margin: 10px 0px;
			font-size: 14px;
			line-height: 1.3em;
		}
		.recover-message-success
		{
			color:green;
			margin: 10px 0px;
			font-size: 14px;
			line-height: 1.3em;
		}
        .auth-title{
            color: var( --ion-color-primary);
            margin: 5px;
        }
	}