
    .login-form ion-textarea {
        border: 1px solid #007cff;
        margin-top: 0px!important;
        padding: 10px;
        max-height: 140px;
    }
    .icon[aria-label="star"] {
        color: #ffcb2d!important;
    }
    .icon[aria-label="star outline"] {
        color: rgb(202, 202, 202)!important;
    }
    button {
        padding: 12px;
        background-color: #007cff;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    form.login-form label {
        margin-left: 7px;
    }
    .item-inner{
        border-bottom: 0.55px solid #c8c7cc!important;
    }

    .list > .item-block:first-child {
        border-top: none !important;
    }

    .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block {
        border-bottom: none !important;
    }
    ion-icon.back-button-icon {
          color: #fff !important;
    }

