<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" (click)="back()" style="font-size: 20px; margin-left: 10px;" slot="start"></ion-icon>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form class="" [formGroup]="cp_form"> 
      <ion-list>
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" name="password" formControlName="password" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" name="confirm_password" formControlName="confirm_password" required></ion-input>
          </ion-item>
      </ion-list>
      <ion-button color="secondary" type="submit" (click)="changepwd(cp_form.value)" [disabled]="!cp_form.valid" class="color_submit"  ion-button expand="block">Save</ion-button>
      <ion-button color="danger"  expand="block" (click)="resetFields()">Reset</ion-button>
  </form>

</ion-content>

