<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  [hidden]="isVendor" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <button (click)="openMenu('customer-menu')" class="menu_button" [hidden]="isVendor">
      <ion-icon name="menu"  class="menu_icon"></ion-icon>
    </button> 
  </ion-toolbar>

</ion-header>

<ion-header *ngIf="isLoggedin == true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
      <button (click)="openMenu('quick-menu')" class="menu_button"><ion-icon name="menu" class="menu_icon"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [class.trans-head2]="isLoggedin" >
  <div [hidden]="!isVendor">
      <img src="./assets/imgs/haul-white.png" class="top-logo">
      <h4 class="h-heading">Haul Service Provider Portal</h4>
      <h5 class="h-border">Navigation</h5>
      <ion-list>
        <button class="leftbtn" ion-item *ngFor="let pv of pagesV" (click)="openPage(pv)">
          {{pv.title}}
        </button>
  
        <button class="leftbtn" ion-item  (click)="logOut()">
        Sign Out
        </button>
  
      </ion-list>
  </div>
</ion-content> -->

<ion-content [class.trans-head2]="isLoggedin" [class.login-bg]="!isVendor" >
    <div [hidden]="!isVendor">
        <img src="assets/imgs/haul-white.png" class="top-logo">
        <h4 class="h-heading ion-text-center">Haul Service Provider Portal</h4>
        <h5 class="h-border">Navigation</h5>
      <ion-list class="ion-padding">
        <ion-button expand="block" color="{{pv.color}}" class="leftbtn"  *ngFor="let pv of pagesV" (click)="openPage(pv)">
          {{pv.title}}
        </ion-button>
        <ion-button class="leftbtn" color="medium" expand="block" (click)="logOut()">
          Sign Out
          </ion-button>
      </ion-list>
          

    </div>
  <div [hidden]="isVendor">
      <ion-grid >
          <ion-row>
               <ion-col size="5" *ngIf="isLoggedin == true">
                  <img src="assets/imgs/haul-logo.png" class="top-logo">
                  <h6 class="h-heahing" *ngIf="isLoggedin == true">www.haulonline.com</h6>
                  <!-- <h6 class="contact-haul" *ngIf="isLoggedin == true">Contact haul: (336)265-6633</h6> -->
              </ion-col>
              <ion-col size="5" *ngIf="isLoggedin == false" class="logo-lock">
                  <img src="assets/imgs/haul-logo.png" class="top-logo">
                  <h6 class="h-heahing" *ngIf="isLoggedin == false">www.haulonline.com</h6>
                  <!-- <h6 class="contact-haul" *ngIf="isLoggedin == false">Contact haul: (336)265-6633</h6> -->
                  <!-- <h1 class="h-heahing" *ngIf="isLoggedin == true">Moving Simplified</h1> -->
              </ion-col>
              <!-- <ion-col col-6 class="head_h logo-lock" *ngIf="isLoggedin == false">
                  <h1 class="h-heahing">Moving Simplified</h1>
              </ion-col> -->
              <ion-col size="7" class="head_h logo-lock">
                <!-- <h1 class="h-heahing">Moving Simplified</h1> -->
                <p class="need" (click)="selectType()">Need help? Text or Call</p>
                <p class="phone" (click)="selectType()">(336)265-6633</p>
                <img src="assets/imgs/map.jpg" (click)="openVendorCoverage();" />  
             </ion-col>
              <ion-col size="12" class="btn_hub" *ngIf="isLoggedin == true">
                <div class="btm-tab1">
                  <button ion-button full class="service_registration" (click)="goToVendorSignup()" *ngIf="isLoggedin == true">Provider<br> Registration</button>
                  <button ion-button full class="service_login" (click)="goToVendorLogin()" *ngIf="isLoggedin == true">Provider<br> Login</button>
                  <button ion-button full class="service_login" (click)="goToLogin()" *ngIf="isLoggedin == true">Customer<br> Login</button>
                  <button ion-button full class="service_login" (click)="contactUs()"  *ngIf="isLoggedin == true">Contact <br> Us</button>
                </div>  
              </ion-col>  
              <ion-col size="12" class="btn_hub" *ngIf="isLoggedin == false">
                <div class="btm-tab1">
                  <button ion-button full class="service_registration" (click)="openCustMsg()" >Message<br> Provider</button>
                  <button ion-button full class="service_registration" (click)="openWorkOrders()">Work<br>Orders</button>
                  <button ion-button full class="service_registration" (click)="openFAQ()">FAQs <br></button>
                  <button ion-button full class="service_registration" (click)="contactUs()">Contact<br>Us</button>
                </div>  
              </ion-col>  
            </ion-row>
          </ion-grid>
    
    <div class="signin-form-section">

    <ion-grid>
 <ion-row>
   <ion-col size="6" *ngFor="let service of services" (click)="doSignup(service)">
    <div class="blue-box">
    <img src="{{service.icon}}" />
    <p [innerHTML]="service.title"></p>
    </div>
   </ion-col>
 </ion-row>
      <ion-row>
        <ion-col size="12"  (click)="charitable()">
          <div class="charity" >
              <img src="assets/imgs/money.jpg" />
              <img src="assets/imgs/charity.png" />
          </div>
        </ion-col>
    </ion-row>
    </ion-grid>
  </div>

  <ion-grid *ngIf="isLoggedin == true">

  <div class="btm-tab" *ngIf="isLoggedin == false">
    <img src="assets/imgs/btm-tab.png" />
    <div class="icon-bottom-sct">
    <p text-center>
     <a class="bottm-link" (click)="doLogout()">Logout</a>
    </p>
    </div>
  </div>
  </ion-grid>

  </div>
</ion-content>
