/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: Tempus;
  src: url('assets/fonts/TEMPSITC.ttf');
  font-weight: bold;
}

@font-face {
  font-family: julius;
  src: url('assets/fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: Markazitext;
  src: url('assets/fonts/markazitext-regular.ttf');
}
@font-face {
  font-family: JosefinSans;
  src: url('assets/fonts/JosefinSans-Regular.ttf');
}
@font-face {
  font-family: RockSalt;
  src: url('assets/fonts/RockSalt.ttf');
}


$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$theme-color-1: #0080ff;
$theme-color-2: #0080ff;
$theme-color-3: #5e5874;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0080ff,
  secondary:  #0080ff,
  danger:     #f4344f,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  walkthrough:(
    base: $theme-color-1,
    contrast: $white
  ),
  walkthrough-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  walkthrough-header:(
    base: transparent,
    contrast: $white
  ),
  header:(
    base: $theme-color-1,
    contrast: $white
  ),
  header-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  facebook:(
    base: #3b5998,
    contrast: $white
  ),
  google:(
    base: #cc181e,
    contrast: $white
  ),
  twitter:(
    base: #00aced,
    contrast: $white
  ),
  button:(
    base: $theme-color-1,
    contrast: $white
  ),
  button-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  background:(
    base: $white-a,
    contrast: $black-b
  ),
  tabs-navigation:(
    base: $white,
    contrast: $white-d
  )
);